body {
    font-family: sans-serif;
}

.container{
    
      display:grid;
      grid-template-columns: repeat(autofit, minmax(200px, 1fr));
      grid-template-rows: repeat(autofit, minmax(300px, 1fr));
      grid-template-areas: 
      "ttle ttle ttle ttle ttle ttle ttle ttle"
      "hdr hdr hdr hdr hdr hdr hdr hdr"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      gap: 5px;
      border: 2px solid black;
      height: 100vh;
  }
  .box{
    border: 1px solid black;
    }
/* Assign grid area below */
  .image{
    grid-area: hdr;
  }
  .footer{
    grid-area: ft;
  }
  .sidebar{
    grid-area: sd;
  }
  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: main;
  }