@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

@media only screen and (max-width: 1280px) {
/* 1280px screen width - Macbook Pro 13 inch*/
body {
    margin: 0px;
    font-family: Montserrat;
}  

.container{
        
          display:grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, auto));
          grid-template-rows: repeat(auto-fit, minmax(25px, auto));
          grid-template-areas: 
          "nav nav nav nav nav nav nav nav"
          "ban ban ban ban ban ban ban ban"
          "sd sd sd sd sd sd sd sd"
          "main main main main main main main main"
          "main main main main main main main main"
          "main main main main main main main main"
          "ft ft ft ft ft ft ft ft";
          height: 100vh;
      }
      .banner{
      grid-area: ban;
      }

      .banner-image {
        max-width:100%;
        max-height:100%;
      }
      .archive{
        grid-area: sd;
        background: #A9A9A9;
      }
      .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-area: main;
        padding: 5px;
      }
      .profile_blog_image {
        width: 250px;
        height: 200px;
        box-shadow: 0 0 3px rgba(0,0,0,1);
        flex-shrink: 0;
    }
    
    .social_icon {
        padding-top: 10px;
        mix-blend-mode: multiply;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
    }
    .footer{
      grid-area: ft;
      background: #A9A9A9;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
    }
    
    .footer h3 {
        font-size: 12px;
        margin: 0px;
    }

    /* NAV BAR */
   .nav{
      grid-area: nav;
      display: flex;
      flex-direction: row;
      flex-shrink: 1;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin:0px;
      background: #A9A9A9;
    }
    h1{
        color: black;
        padding: 0px 0px 0px 30px;
        font-size: 18px;
    }
  
    h1 a {
      color: black;
      text-decoration: none;
      transition-duration: 0.3s;
      }
  
  h1 a:hover {
      color: #d3d3d3;
  }
  
  .nav_links li{
      display: inline;
      padding: 0px 30px 0px 30px;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
  }
  
  .nav_links li a {
      text-decoration: none;
      color: black;
      transition-duration: 0.3s;
  }
  
  .nav_links li a:hover {
      color: #d3d3d3;
      }

 /* BLOG CARDS */
      .blog {
        margin: 0 auto;
        /*padding: 5px;*/
        display: flex;
        flex-direction: column;
        max-width: 225px;
        box-shadow: 0 0 3px rgba(0,0,0,1);
    }

    h2 {
        font-size: 12px
    }
    p {
        font-size: 10px;
    }
    
    .blog_image {
        width: 225px;
        height: 175px;
    }
    .hvr-bounce-out {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
      .hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }
    .blog_content {
        background: #fafafa;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .blog_content > h2 {
        margin: 0px;
    }

    .blog_content > p {
        margin: 0px;
        padding: 0px 5px 0px 5px;
    }
    
    .small_flag {
        height: 20px;
        width: 20px;
    
    }
    /* ARCHIVE */
    .archive {
      display: inline;  
  }
  .archive_links {
      padding-left: 0px;
      list-style-type: none;
  }
  
  ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
  }
  
  .archive_links li {
      font-size: 18px;
  }
  
  .archive_links li a{
      font-size: 18px;
      text-decoration: none;
      color: black;
      transition-duration: 0.3s;
  }
  
  .archive_links li a:hover{
      color: #d3d3d3;
  }
}
    