@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

body {
    margin: 0px;
    font-family: Montserrat;
    font-size: 16px;
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, auto-fit));
    grid-template-rows: repeat(auto-fit, minmax(10%, auto-fit));
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav"
    "main main main main main main main main"
    "main main main main main main main main"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    height: 100vh;

}

/* Navigation Bar CSS */

    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin:0px;
        background: #A9A9A9;
    }
    .nav > h1{
        color: black;
        padding: 0px 0px 0px 30px;
    }
    
    .nav > h1 > a {
        color: black;
        text-decoration: none;
        transition-duration: 0.3s;
    }
    
    .nav > h1 > a:hover {
        color: #d3d3d3;
        }
    
    .nav_links > li{
        display: inline;
        padding: 0px 30px 0px 30px;
        font-weight: 500;
        text-decoration: none;
    }
    
    .nav_links > li > a {
        text-decoration: none;
        color: black;
        transition-duration: 0.3s;
    }
    
    .nav_links > li > a:hover {
        color: #d3d3d3;
        }


/* Content Area */

.content {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas:
    "hd1 hd1 hd1 hd1 hd1 hd1 hd1 hd1"
    "hd1 hd1 hd1 hd1 hd1 hd1 hd1 hd1"
    "hd1 hd1 hd1 hd1 hd1 hd1 hd1 hd1";
}

.area {
    grid-area: hd1;
    /*border-bottom: 0.5px solid black;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.content {
    display: flex;
    flex-direction: column;
}

.content > p {
    padding: 0px 0px 0px 20px;
}

.content > h1 {
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.content > h2 {
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.content > h3 {
    padding: 0px 0px 0px 20px;
    margin: 0px;
}
.social {
    grid-area: sm;
}

.profile_blog_image {
    width: 33%;
    height: 50vh;
    box-shadow: 0 0 3px rgba(0,0,0,1);
    flex-shrink: 0;
}

/*Footer CSS*/

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background: #A9A9A9;
}

.footer h3 {
    padding-top: 10px;
    font-size: 12px;

}

.social_icon {
    padding-top: 10px;
    mix-blend-mode: multiply;
    width: 30px;
    height: 30px;
}

@media (max-width: 1440px) {
    .area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        align-items: center;

    }

    .profile_blog_image {
        height: 23vh;

    }
}

@media (min-width: 300px) and (max-width: 530px) {
    .profile_blog_image {
        width: 60%;
    }

}