

.container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(auto-fit, minmax(25px, auto));
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav"
    "main main main main main main main main"
    "main main main main main main main main"
    "main main main main main main main main"
    "main main main main main main main main"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    height: 100vh;

}

/*.box {
    border: 1px solid black;
}*/

.nav {
    grid-area: nav;
}

.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(auto-fit, minmax(25px, auto));
    grid-template-areas:
    "hd1 hd1 hd1 hd1 hd1 hd1 hd1 hd1"
    "hd2 hd2 hd2 hd2 hd2 hd2 hd2 hd2"
    "hd3 hd3 hd3 hd3 hd3 hd3 hd3 hd3";
    gap: 10px;
}

.area1 {
    grid-area: hd1;
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: row;

}

.area2 {
    grid-area: hd2;
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: row;
}

.area3 {
    grid-area: hd3;
    display: flex;
    flex-direction: row;   
}

.content {
    display: flex;
    flex-direction: column;
}

.content > p {
    padding: 0px 0px 0px 20px;
    font-size: 12px;
}

.content > h1 {
    padding: 0px 0px 0px 20px;
    font-size: 18px;
}

.content > h2 {
    padding: 0px 0px 0px 20px;
    font-size: 18px;
}

.content > h3 {
    padding: 0px 0px 0px 20px;
    font-size: 18px;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile_blog_image {
    width: 225px;
    height: 175px;
    box-shadow: 0 0 3px rgba(0,0,0,1);
    flex-shrink: 0;
}

.social_icon {
    padding-top: 10px;
    mix-blend-mode: multiply;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.footer h3 {
    padding-top: 10px;
    font-size: 12px;

}